.header-image {
    width: 100%;
    height: 200px;                 
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;}

body{
    background-color: rgb(255, 225, 250);
    padding: 0;
    margin: 0;
  
}
/* menu navbar jgn lupa */
.menu {
  background-color: pink;
  padding: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  
}
/* tombol tombolan */
.btn {
  background-color: white;
  color: #a13ccd;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;  
  gap: 14px; 
  flex-wrap: wrap;
}

.dropdown-parent {
  position: relative;
}
/*udh bener jgn diubah*/
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 220px;
  background-color: white;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}


.dropdown-parent:hover .dropdown-menu {
  display: flex;
}


.dropdown-parent:focus-within .dropdown-menu {
  display: flex;
}


.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg,#bf3cf7,#e8b2ff);
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 800;
  text-decoration: none;
}

/*mulai text*/
.welcome{
padding: 20px 20px;
border-radius: 12px;
max-width: 800px;
text-align: center;
opacity: 100%;
background-color: rgb(126, 126, 199);
justify-content: center;
width: 80%;
margin: 40px auto 0 auto; 
}

.img1{
border-radius: 10px;
width: 28x;
height: 10px;
display: block;
padding: 20px;
text-align: center; 
margin-bottom: 40px;
}

.isianalisa{
  padding: 50px;
  background-color: rgb(113, 113, 178);
  border-color: #7171b2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.228);
  text-align: justify;
  max-width: 850px;
  margin: auto;
  }

.title2{
  text-align: center;
  font-size: x-large;
  background-color: aliceblue;
  border-radius: 10px;

}

h2{
  background-color: #e8b2ff;
  max-width: fit-content;
  border-radius: 2px;
}
p{
  background-color: #e8b2ff;
  max-width: fit-content;
  border-radius: 2px;
}

.gallery{
  max-width: 800px;
  height: 450px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.gallery-panel{
  flex: 1;
  border-radius: 0.75rem;
  overflow: hidden;
  cursor: pointer;
  transition: flex 0.5s ease-in-out;
}

.gallery-panel:hover{
  flex: 3;

}

.gallery-panel img{
width: 100%;
height: 100%;
object-fit: cover;
}

.gallery-panel:nth-child(2) img{
  scale: 1.15;
}

.gallery-panel:nth-child(5) img{
  scale: 1.25;
}