body{
    background-color: rgb(255, 225, 250);
    padding: 0;
    margin: 0;
  
}
/* menu navbar jgn lupa */
.menu {
  background-color: pink;
  padding: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  
}
/* tombol tombolan */
.btn {
  background-color: white;
  color: #a13ccd;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;  
  gap: 14px; 
  flex-wrap: wrap;
}

.dropdown-parent {
  position: relative;
}
/*udh bener jgn diubah*/
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 220px;
  background-color: white;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}


.dropdown-parent:hover .dropdown-menu {
  display: flex;
}


.dropdown-parent:focus-within .dropdown-menu {
  display: flex;
}


.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg,#bf3cf7,#e8b2ff);
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 800;
  text-decoration: none;
}

/*css isi*/

.perkenalan{
  padding: 50px;
  background-color: rgb(113, 113, 178);
  border-color: rgb(113, 113, 178);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.228);
  text-align: justify;
  max-width: 850px;
  margin: auto;

}
.aboutme{
  text-align: center;
  font-size: x-large;
}

.containerdp {
    max-width: 900px;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}
.containerdp li {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-top: 20px;
}

.juduldp{
  text-align: center;
  font-size: x-large;
  border-color: aliceblue;
  border-radius: 10px;
}