body{
    background-color: rgb(255, 225, 250);
    padding: 0;
    margin: 0;
  
}
/* menu navbar jgn lupa */
.menu {
  background-color: pink;
  padding: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  
}
/* tombol tombolan */
.btn {
  background-color: white;
  color: #a13ccd;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;  
  gap: 14px; 
  flex-wrap: wrap;
}

.dropdown-parent {
  position: relative;
}
/*udh bener jgn diubah*/
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 220px;
  background-color: white;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}


.dropdown-parent:hover .dropdown-menu {
  display: flex;
}


.dropdown-parent:focus-within .dropdown-menu {
  display: flex;
}


.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg,#bf3cf7,#e8b2ff);
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 800;
  text-decoration: none;
}

.multi{
padding: 20px 20px;
border-radius: 12px;
max-width: 800px;
text-align: center;
opacity: 100%;
background-color: rgb(234, 177, 255);
justify-content: center;
width: 80%;
margin: 40px auto 0 auto; 
text-align: justify;
font-size: medium;
}

.multi img{
border-radius: 10px;
width: 150x;
height: 125px;
display: flexbox;
padding: 20px;
text-align: center; 
margin-bottom: 40px;

}

.multi img{
  margin-right: 15px
}

.title5{
  text-align: center;
  background-color: rgb(128, 127, 216);
  border-radius: 2px;
}