.header-image {
    width: 100%;
    height: 200px;                 
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;}

body{
    background-color: rgb(118, 140, 217);
    padding: 0;
    margin: 0;
  
}
/* menu navbar jgn lupa */
.menu {
  background-color: pink;
  padding: 20px;
  display: flex;
  gap: 18px;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  
}
/* tombol tombolan */
.btn {
  background-color: white;
  color: #a13ccd;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;  
  gap: 14px; 
  flex-wrap: wrap;
}

.dropdown-parent {
  position: relative;
}
/*udh bener jgn diubah*/
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 220px;
  background-color: white;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
  flex-direction: column;
  gap: 10px;
  z-index: 100;
}


.dropdown-parent:hover .dropdown-menu {
  display: flex;
}


.dropdown-parent:focus-within .dropdown-menu {
  display: flex;
}


.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg,#bf3cf7,#e8b2ff);
  color: #fff;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: 800;
  text-decoration: none;
}

/*mulai text*/

.title{
  text-align: center;
  font-size: x-large;
  border-color: aliceblue;
  border-radius: 10px;
}

.isi{
  padding: 50px;
  background-color: rgb(113, 113, 178);
  border-color: rgb(113, 113, 178);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.228);
  text-align: justify;
  max-width: 850px;
  margin: auto;
  
}

.container{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;          /* jarak antar card */
  justify-items: center;
}

.card__article{
  position: relative;
  overflow: hidden;
}

.card__img{
  width: 328px;
  border-radius: 1.5rem; 

}

.card__data{
  position: absolute;
  width: 200px;
  background-color: #fff;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  align-items: center;
}

.card__description{
  display: block;
  font-size: medium;
  margin-bottom: .25rem;
}

.card__title{
  font-size:large;
  font-weight: 500;
  color: black;
  margin-bottom: .75rem;
}

/* mulai animasi hover*/
.card__article:hover .card__data{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .1s;
}

.card__article:hover{
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
  animation: remove-data 1s forwards;
}

@keyframes show-data{
  50%{
    transform: translateY(-10rem);
  }
  100%{
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow{
  to{
    overflow: initial;
  }
}

@keyframes remove-data{
  0%{
    transform: translateY(-7rem);
  }
   50%{
    transform: translateY(-10rem);
  } 100%{
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow{
  0%{
    overflow: initial;
    pointer-events: none;
  }
  50%{
    overflow: hidden;
  }
}

@media screen and (min-width: 1120px){
  .container{
    height: 100vh;
  }

  .card__container{
    grid-template-columns: repeat(3, 1fr);
  }
}
